<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-student-heading" data-cy="StudentCreateUpdateHeading" jhiTranslate="gestorAcedemias2App.student.home.createOrEditLabel">
        Crear o editar Student
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gestorAcedemias2App.student.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gestorAcedemias2App.student.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gestorAcedemias2App.student.phone" for="field_phone">Phone</label>
          <input type="text" class="form-control" name="phone" id="field_phone" data-cy="phone" formControlName="phone" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gestorAcedemias2App.student.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label jhiTranslate="gestorAcedemias2App.student.courses" for="field_courses">Courses</label>
          <select
            class="form-control"
            id="field_courses"
            data-cy="courses"
            multiple
            name="courses"
            formControlName="courses"
            [compareWith]="compareCourse"
          >
            <option [ngValue]="courseOption" *ngFor="let courseOption of coursesSharedCollection">{{ courseOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gestorAcedemias2App.student.attendance" for="field_attendance">Attendance</label>
          <select
            class="form-control"
            id="field_attendance"
            data-cy="attendance"
            name="attendance"
            formControlName="attendance"
            [compareWith]="compareAttendance"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="attendanceOption" *ngFor="let attendanceOption of attendancesSharedCollection">
              {{ attendanceOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gestorAcedemias2App.student.invoice" for="field_invoice">Invoice</label>
          <select
            class="form-control"
            id="field_invoice"
            data-cy="invoice"
            name="invoice"
            formControlName="invoice"
            [compareWith]="compareInvoice"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="invoiceOption" *ngFor="let invoiceOption of invoicesSharedCollection">{{ invoiceOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
